<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>PipiQ</title>
</head>
<body class="bg-gray-100">
<div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
    <h1 class="text-center mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Письмо с инструкциями по восстановлению пароля отправлено</h1>
    <br>
    <p class="text-m font-medium text-gray-900 dark:text-white">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
    
    <p class="mb-6 text-sm font-medium text-gray-900 dark:text-white">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    <div class="flex">
        <a class="w-full text-white bg-gray-600 hover:bg-gray-700 font-medium rounded-lg text-sm px-12 py-2.5 text-center cursor-pointer" href="/">В начало</a>
    </div>
</div>
<header class="bg-gray-800">
    <a href="/" class="text-white text-2xl font-semibold">PipiQ</a>
</header>
</body>
</html>