<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>PipiQ</title>
    <style>
        
        @keyframes blink {
            50% { opacity: 1; }
            70% { opacity: 0.5; }
            100% { opacity: 1; }
        }
    
        
        .blink-link {
            animation: blink 2s infinite; 
        }
    
        
        .blink-link:hover {
            color: blue; 
            text-decoration: underline; 
        }
    </style>
</head>
<body class="bg-gray-100">
<div class="hello">
    <h2 class="text-center mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Восстановление пароля завершено</h2>
    <p>Ваш пароль был сохранен.
        <br>
    <a class="font-bold blink-link" href="/">Авторизуйтесь</a></p>
</div>
<header class="bg-gray-800">
    <a href="/" class="text-white text-2xl font-semibold">PipiQ</a>
</header>
</body>
</html>